****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
	font-weight: 400;
	color: rgb(51,51,51);
  text-align: center;
  line-height: 1.20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 140%;
  color: rgb(197, 47, 36);
  margin: 1.2em 0 1.5em 0;
}

h4 {
  font-size: 100%;
	
}


h3 {
	font-size: 130%;
}

h1 { margin-bottom: 0.2em; }

a { color: rgb(0, 68, 178); 
text-decoration: none;
}
a:hover   { color: rgb(197, 47, 36) }
a:visited { color: #a0a; }

img.contact { height: 32px; width: 32px;}

img.share { height: 40px; width: 40px;}


img.book { width: 200px; height: 250px }

img {
  width: 100%
}

img.shoes {
  width: 30%;
}

img.vim {
	width: 50%;
}


.navbar { 
  background-color: rgb(197, 47, 36);
  color: FloralWhite;
  
  text-align: right;
  width: 100%;
  padding: 1em;
  
}

.navbar a {
  color: FloralWhite;
}

.navbar a:hover {
  color: black;
}

.navbar > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
  
}

.navbar > nav > ul > li {
  margin: 0 20px 0 0;
  display: inline;
  font-weight: bold;
  text-align: right;
  
}

#logo {
  float: left;
}

#posts {
  float: left;
  width: 60%;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  margin-top: 3.2em;
}

#sidebar {
  float: left;
  margin-top: 3.2em;
  width: 25%;
  margin-left: 1.5em;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
}





/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/



.posts {
  list-style-type: none;
  float: left;
  margin: 0 1.2em 2em 0;
  padding: 0 0 0 0; 
  
  
}

.posts li {
  line-height: 1.65em;
  margin-bottom: 1em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.categories {
  display: inline;
}

.categories li {
  display: block;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 100%;
  
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}



.footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

#page_footer {
  clear: both;
  display: block;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  width: 100%;
}

#posts {
  padding: 1.4em 1.3em 0 5.2em;
  
}

  

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  margin: 1.5em 0 1.9em 0;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  margin: 0 0.8em 0 0;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post h2 {
  font-size: 1.8em;
  margin: 2.9em 0 0.6em 0;
}

.post h3 {
  margin: 1.9em 0 0.6em 0;
  font-size: 1.2em;
}

.post h4 {
  font-size: 1.2em;
	margin: 0
}
.post p {
margin: 0 0.5 1.0em;
  
}


