---
layout: default
---
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_rss_follow"
    addthis:userid="http://masteruby.github.io/feed.xml"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_pinterest_share"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_hackernews"></a>
<a class="addthis_button_stumbleupon"></a>
<a class="addthis_button_delicious"></a>
<a class="addthis_button_dzone"></a>
<a class="addthis_button_blinklist"></a>
<a class="addthis_button_tumblr"></a>
<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
</div>

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<h4>Posted by Milos Dolobac</h4>

<div class="post">
{{ content }}



</div>

{% if page.allow_comments != false %}
        
        <div id="disqus_thread" name="disqus_thread"></div>
          <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'mdolobac'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
          </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
{% endif %}

<ul class="posts">
  {% for post in site.related_posts %}

  <li><span>{{ post.date | date_to_string  }}</span> &raquo; <a href="{{ post.url }}#disqus_thread">{{ post.title }}</a></li>
  
  
  {% endfor %} 
  

</ul>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'mdolobac'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-534eba9022761f4e"></script>
<!-- AddThis Button END -->
    
 


              
